# Archivos de entorno
*.env

# Virtual Envs
.venv/
venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Docker temporales (si hubiera)
**/.docker/

# Ignorar archivos de configuración de Docker
*.log
*.pid
docker-compose.override.yml

# Ignorar archivos de compilación de Maven (si estás usando Java)
target/

.vscode

